.CreditCardForm {
  &__wrapper {
    max-width: 580px;
    width: 100%;
    padding: 36px;
    border-radius: 12px;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    background-color: #fff;

    @media screen and (max-width: 570px) {
      padding: 36px 16px;
    }

    @media screen and (max-width: 520px) {
      padding: 16px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 520px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .CreditCardForm__col:not(:last-child) {
      margin-right: 26px;

      @media screen and (max-width: 570px) {
        margin-right: 16px;
      }

      @media screen and (max-width: 520px) {
        margin-right: 0;
      }
    }
  }

  &__col {
    display: flex;
    align-items: flex-end;
    width: 100%;

    .CreditCardForm__input-wrapper:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__input {
    width: 100%;
    min-height: 46px;
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ced6e0;
    background: none;
    transition: all .3s ease-in-out;

    &::placeholder {
      color: #ced6e0;
    }

    &:hover,
    &:focus {
      border-color: #3d9cff;
    }

    &:focus {
      box-shadow: 0 10px 20px -14px rgba(34, 56, 120, .35);
    }

    @media screen and (max-width: 360px) {
      min-height: 42px;
      font-size: 16px;
    }

    &--select {
      -webkit-appearance: none;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC');
      background-size: 12px;
      background-position: 90% center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 22px;

      @media screen and (max-width: 360px) {
        margin-bottom: 16px;
      }
    }

    &-label {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: 500;
    }

    &-button {
      position: absolute;
      bottom: 8px;
      right: 6px;
      display: inline-flex;
      width: 32px;
      height: 32px;
      padding: 6px;
      border: 0;
      background-color: #fff;
      cursor: pointer;
    }
  }

  &__button {
    width: 100%;
    min-height: 46px;
    margin-top: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #215bbe;
    box-shadow: 5px 10px 20px 0 rgba(35, 100, 210, .3);
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: #276ce3;
    }

    &:disabled {
      background-color: #c2c7d0;
      cursor: not-allowed;
    }

    @media screen and (max-width: 360px) {
      min-height: 42px;
      margin-top: 8px;
      font-size: 16px;
    }
  }
}